.container {
  position: fixed;
  border: 1px solid #262626;
  background-color: #ddd;
  box-shadow: inset -2px -2px 0px #808080,
              inset 2px 2px 0px #ffffff,
              1px 1px #262626;
  z-index: 1000;
  display: none;
  padding: 2px 0px 2px;
}

.container.active {
  display: block;
}

.menu-item {
  padding: 4px 11px 4px 11px;
  cursor: pointer;
  margin-right: 2px;
}

.menu-item:hover {
  background-color: #474764;
  color: #fff;
}