.container {
  /* set center */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.treeZone {
  position: absolute;
  top: 20px;
  left: 5px;
  width: 253px;
  height: 530px;
  background-color: #dddddd;
  box-shadow: inset 1px 1px 0px #262626, 
              inset 2px 2px 0px #ffffff, 
              -1px -1px rgba(38, 38, 38, 0.4);
}

.folderItem {
  height: 18px;
  font-size: 14px;
  box-sizing: border-box;
  margin-top: 1px;
  display: flex;
}

.toggleHash {
  line-height: 18px;
  cursor: pointer;
}

.folderName {
  line-height: 18px;
  cursor: default;
}

.divisionLine {
  display: flex;
  flex-direction: column;
  margin-top: 1px;
  padding-left: 2px;
}

.line {
  width: 100%;
  height: 0.5px;
}

.tmpdiv {
  border: 1px solid #262626;
}

.arrow {
  margin-right: 3px;
}

.selected {
  background-color: #474764;
  color: #fff;
}

.userRoot {
  height: 16px;
  display: flex;
  font-size: 14px;
  padding: 3px 0px;
  line-height: 16px;
}

.userRootSelected {
  background-color: #474764;
  color: #fff;
}

.faceIcon {
  margin: 0px 5px;
}