.container {
  background-image: url('/public/assets/images/ganwindow.svg');
  width: 452px;
  height: 302px;
}

.closeBox {
  width: 13px;
  height: 13px;
  position: absolute;
  top: 4px;
  left: 4px;
  box-shadow: inset -1px -1px 0px #ffffff, 
              inset 1px 1px 0px #808080;
}

.ganZone {
  position: absolute;
  top: 20px;
  left: 5px;
  width: 442px;
  height: 277px;
  background-color: #ddd;
  border: 1px solid #262626;
  box-shadow: inset -1px -1px rgba(38, 38, 38, 0.2),
              inset 1px 1px #fff,
              1px 1px #ffffff,
              -1px -1px #808080;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.selectZone {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ganResult {
  display: flex;
  justify-content: center;
  align-items: center;
}

.myresult {
  width: 100px;
  height: 100px;
  background-color: #ac7f7f;
}