.menuBar {
  height: 20px;
  background-color: #ddd;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  box-shadow: inset 0px -1px 0px #bbb,
              inset 0px 1px 0px #eee;
  display: flex;
}

.menuContents {
  line-height: 20px;
  margin: 0px 10px;
  font-size: 15px;
}

.menuResizer {
  margin-bottom: 1px;
}

.uploadBox {
  position: absolute;
  top: 90px;
  left: 100px;
}

.folderTreeBox {
  position: absolute;
  top: 280px;
  left: 100px;
}

.folderContentsBox {
  position: absolute;
  top: 250px;
  left: 450px;
}

.trashIcon {
  position: absolute;
  top: 100px;
  left: 500px;
}

.ganIcon {
  position: absolute;
  top: 105px;
  left: 570px;
}

.trashText {
  background-color: #ccc;
  margin-left: 5px;
  text-align: center;
  cursor: pointer;
  position: relative;
  left: -5px;
}
.ganText {
  background-color: #ccc;
  text-align: center;
  cursor: pointer;
  margin: 0px 4px;
}
.trashText:focus, .ganText:focus {
  background-color: #262626;
  color: #e3e3e3;
}

.binBox {
  position: absolute;
  top: 500px;
  left: 880px;
  width: 100px;
  height: 100px;
  display: none;
}
.binBox.open {
  display: block;
}

.ganBox {
  position: absolute;
  top: 80px;
  left: 1020px;
}