.home {
  width: 100%;
  height: 100%;
  background-color: #DFDFE7;
}

.main {
  width: 100%;
  height: 100%;
  display: flex;
}

.content {
  display: flex;
  flex-direction: column;
}

.button_container {
  margin: 10px 0;
  padding: 15px 30px;
  display: flex;
}

.upload {
  width: 110px;
  height: 60px;
  padding: 13px;
  background-color: #4545C2;
  border: 1px solid #BFBFBF;
  cursor: pointer;
}

.upload p {
  color: white;
  font-size: 18px;
  margin-top: 9px;
}

.file {
  display: none;
}

.create {
  width: 110px;
  height: 57px;
  padding: 15px 13px;
  background-color: #EAEAEA;
  border: 1px solid #BFBFBF;
  margin-left: 15px;
  cursor: pointer;
}

.create p {
  color: black;
  font-size: 18px;
  margin-top: 13px;
}

.button {
  width: 100px;
  height: 25px;
  margin-right: 10px;
  padding: 10px;
  display: flex;
  background-color: #D4D0D0;
  align-items: center;
  cursor: pointer;
}

.button p {
  margin: 0 5px;
}

.content_container {
  display: flex;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* 배경 어둡게 */
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal_content {
  background-color: white;
  width: 420px;
  height: 230px;
  padding: 20px 30px;
  border-radius: 5px;
}

.modal_content p {
  margin: 20px 0 10px;
}

.close_button {
  position: absolute;
  top: 35%;
  right: 31%;
  cursor: pointer;
  font-size: 35px;
  color: black;
}

.close {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.input {
  width: 395px;
  height: 20px;
  border-radius: 5px;
  padding: 5px;
  margin: 0 0 10px;
}

.btn_container {
  margin-left: 60%;
  margin-top: 10px;
}


.btn {
  width: 70px;
  height: 35px;
  border: none;
  margin: 10px 5px;
  padding: 3px;
  cursor: pointer;
  font-size: 16px;
}