@font-face {
  font-family: "Apple Garamond Light";
  src: url("../../public/assets/fonts/AppleGaramond-Light.woff") format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "ChiKareGo2";
  src: url("../../public/assets/fonts/ChiKareGo2.ttf") format('ttf');
  font-weight: normal;
  font-style: normal;
}

.container {
  width: 730px;
  height: 600px;
  background-color: #dddddd;
  border: 1px solid #000000;
  box-shadow: inset 0px 5px 0px #ffffff, 
              inset 5px 0px 0px #ffffff, 
              inset 0px -5px 0px rgba(38, 38, 38, 0.4), 
              inset -5px 0px 0px rgba(38, 38, 38, 0.4);
  display: flex;
  flex-direction: column;
  align-items: center;
  /* set center */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.title {
  font-family: "Apple Garamond Light";
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  text-align: center;
  color: #262626;
  text-shadow: 7px 7px 7px rgba(0, 0, 0, 0.25);
  letter-spacing: -0.02em;
}

button {
  all: unset;
}

.spinnerContainer {
  height: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.loadingSpinner {
  border: 4px solid #B4B4B4;
  border-top: 4px solid #555555;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite;
}

.loadingText {
  margin-top: 10px;
  font-size: 14px;
  color: #000000;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}